<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;" border="0">
          <tr style="padding:0px">
            <td style="padding:1.5%;width:70%;vertical-align:middle">
              <h1>
                Tao Pu
              </h1>
              <p align='center'>putao3 [at] mail2.sysu.edu.cn</p>
              <p>I am currently a Ph.D. student from the School of Computer Science and Engineering at Sun Yat-sen University. 
                 I am grateful to join the <a href="http://www.sysu-hcp.net">HCP Lab</a> and be advised by Prof. <a href="http://www.linliang.net">Liang Lin</a>.
                 Before that, I received my Bachelor's Degree from Sun Yat-sen University in 2020.
              </p>

              <p>
                I'm broadly interested in visual understanding. The goal of my research is to build general-purpose agents that can abstract the environment from a human-oriented perspective and have versatile motor skills in challenging scenarios.
              </p>
              
              <p style="text-align:center">
                <a href="/docs/CV.pdf">CV</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="https://github.com/putao537">GitHub</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="https://scholar.google.com/citations?user=cBRGYzYAAAAJ">Google Scholar</a>&nbsp;&nbsp;
              </p>
            </td>
            <td style="padding:3%;width:30%;max-width:30%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/tao.jpeg">
            </td>
          </tr>
        </table>
        
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;" border="0">
          <tr>
            <td>
              <h2>News</h2>
              <ul>
                <li> [Dec, 2023] Our work <a href="https://arxiv.org/abs/2309.13237">STKET</a> is accepted by <b>TIP</b>. The codes are <a href="https://github.com/HCPLab-SYSU/STKET">available</a>.</li>   
                <li> [Sep, 2023] Join <a href="https://pku.ai/">PKU CoRe Lab</a> for academic visiting, advised by Dr. <a href="https://yzhu.io/">Yixin Zhu</a>.</li>  
                <li> [Jul, 2023] Research abstract gets accepted by <b>ACM MM 2023</b> - Doctoral Symposium.</li>   
                <li> [Dec, 2021] Our work <a href="https://arxiv.org/abs/2112.10941">SST</a> and <a href="https://arxiv.org/abs/2203.02172">SARB</a> are accepted by <b>AAAI 2022</b>. The codes are <a href="https://github.com/HCPLab-SYSU/HCP-MLR-PL">available</a>.</li>   
                <li> [Nov, 2021] Our work <a href="https://arxiv.org/abs/2008.00923">AGRA</a> is accepted by <b>TPAMI</b>. The codes and CD-FER benchmark are <a href="https://github.com/HCPLab-SYSU/CD-FER-Benchmark">available</a>. </li>
              </ul>
            </td>
          </tr>
        </table>


        <br><br>


        <h2>Selected Journal</h2>
        <hr>
        * denotes equal contribution
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'journal' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }} {{ post.info }}
              <br>
              {% if post.pdf %}
              <a href="{{post.pdf}}">pdf</a> /
              {% endif %}
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.benchmark %}
              <a href="{{post.benchmark}}">benchmark</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>


        <br><br><br>

        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

